body {
  background: var(--clr-violet-700);
}

header {
  background: var(--clr-violet-900);
  color: var(--clr-violet-300);
  padding: var(--spacing-regular);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: var(--text-large);
}

header a {
  color: var(--clr-violet-500);
  text-decoration: none;
}

nav,
main {
  max-width: 450px;
  margin: auto;
}

nav {
  margin-top: var(--spacing-medium);
  display: flex;
  padding: 0 var(--spacing-regular);

  position: relative;
  top: 1px;
}

nav a {
  border-top-left-radius: 10px;
  border-bottom-color: transparent;

  margin-right: var(--spacing-base);
  padding: var(--spacing-base);
  width: var(--spacing-3xlarge);

  text-decoration: none;
  text-align: center;

  color: var(--clr-violet-500);
}

nav .selected {
  background: var(--clr-violet-900);
  border: 1px solid var(--clr-violet-300);
  border-bottom: none;
  color: var(--clr-violet-300);
}

nav .set-current {
  padding: var(--spacing-small) var(--spacing-base);
  background: var(--clr-violet-300);

  align-self: center;
  margin-left: auto;
}

nav .gw-live {
  position: relative;
}

nav .gw-live::after {
  background: var(--clr-brand-400);
  border-radius: var(--spacing-small);
  color: var(--clr-violet-900);
  content: "live";
  font-size: var(--text-xsmall);
  padding: 0 var(--spacing-small);

  position: absolute;
  top: 10%;
  right: 5%;
}

main {
  background: var(--clr-violet-900);
  border-top-left-radius: 15px;
  border-top: 1px solid var(--clr-violet-300);

  color: var(--clr-violet-300);
  padding: var(--spacing-regular);
}

button {
  cursor: pointer;
}

/*
************
************ 
  Schedule 
************
************
*/

.form-group {
  margin-bottom: var(--spacing-regular);

  display: flex;
  flex-direction: column;
}

.form-group:last-child {
  margin-bottom: 0;
}

h3 {
  margin-bottom: var(--spacing-base);
}

input,
select {
  padding: var(--spacing-base);
  margin-bottom: var(--spacing-small);
}

.date-time {
  display: flex;
  gap: var(--spacing-base);
}

.date-time input {
  flex-grow: 1;
}

.form-group input[type="submit"] {
  background: var(--clr-violet-300);
  padding: var(--spacing-regular);

  border-top-left-radius: var(--spacing-base);
}

.preview {
  margin-bottom: var(--spacing-medium);
}

.box {
  border: 1px solid var(--clr-violet-300);
  border-top-left-radius: var(--spacing-base);
  padding: var(--spacing-regular) var(--spacing-base);
}

.scoreline {
  margin-top: var(--spacing-base);
  display: flex;

  background: var(--clr-violet-100);
  color: var(--clr-violet-900);
}

.scoreline * {
  padding: var(--spacing-base) 0;
  text-align: center;

  flex-grow: 1;
  flex-basis: 0;
  width: 37.5%;
}

.time {
  flex-grow: 0;
  background: var(--clr-violet-300);
  padding: var(--spacing-base) var(--spacing-small);
}

/*
************
************ 
  Scores 
************
************
*/

.match-center-select {
  width: 100%;
  margin-top: var(--spacing-base);
}

.fixtures-list {
  margin-top: var(--spacing-regular);
}

.fixture-gw {
  display: flex;
  align-items: center;
  padding: var(--spacing-regular);
  padding-right: var(--spacing-base);

  background: var(--clr-violet-700);
  border: 1px solid var(--clr-violet-300);

  margin-bottom: var(--spacing-base);
}

.__score {
  margin-left: auto;
  margin-right: var(--spacing-base);

  padding-right: var(--spacing-base);

  border-right: 1px solid var(--clr-violet-300);
}

.fixture-gw p {
  margin-top: var(--spacing-small);
  color: var(--clr-violet-100);
}

.__info {
  width: var(--spacing-2xlarge);
}

.__info p:first-child {
  text-align: center;
  text-transform: capitalize;
}

.__info p:last-child {
  color: var(--clr-violet-300);
  font-size: var(--text-xsmall);
}
/*
************
************ 
 Modal 
************
************
*/

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
}

.modal-container::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;

  background: var(--clr-violet-900);
  opacity: 0.3;
}

.modal {
  background: var(--clr-violet-700);
  padding: var(--spacing-medium) var(--spacing-regular) var(--spacing-2xlarge);

  max-width: 450px;
  width: 100vw;

  color: var(--clr-violet-300);
  margin-right: auto;
  margin-left: auto;
  align-self: flex-end;

  border-top: 1px solid var(--clr-brand-400);
}

.__highlight {
  color: var(--clr-brand-400);
}

.modal-actions {
  margin-top: var(--spacing-regular);
  margin-left: auto;
  width: max-content;
}

.modal-actions button {
  padding: var(--spacing-small) var(--spacing-base);
  width: var(--spacing-2xlarge);
}

.__confirm {
  background: var(--clr-brand-400);
}

.__cancel {
  background: none;
  color: var(--clr-violet-400);
}

/* Fulltime modal */
.modal--ft {
  background: var(--clr-violet-700);
  border-top: none;

  border-top-left-radius: var(--spacing-base);
}

.scoreline--ft {
  display: flex;
  align-items: center;

  background: var(--clr-violet-900);
}

.scoreline--ft > div {
  flex-grow: 1;
  flex-basis: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ft__score {
  width: var(--spacing-xlarge);
  height: var(--spacing-xlarge);
  display: inline-block;

  background: var(--clr-violet-400);
}

.ft__score + p {
  flex-grow: 1;
  text-align: center;
}
