@font-face {
  font-family: "MontBlack";
  src: url("../fonts/Montserrat-Black.otf");
  font-display: swap;
}

@font-face {
  font-family: "MontMedium";
  src: url("../fonts/Montserrat-Medium.otf");
  font-display: swap;
}

@font-face {
  font-family: "MontRegular";
  src: url("../fonts/Montserrat-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "Maison-mono";
  src: url("../fonts/maisonneuemono.ttf");
  font-display: swap;
}

:root {
  /* Colors */
  --blk: #000;
  --wht: #fff;
  --darkG: #0d7354;
  --brandG: #19e6a8;
  --paleG: #cffcef;
  --brightV: #9381ff;
  --paleV: #bbb1f2;
  --palerV: #e1d9fb;
  --darkV: #100459;
  --accentR: #e63060;
  --paleR: #fad6df;

  /* Typography */
  --main-font: "MontRegular", sans-serif;
  --alt-font: "MontMedium", sans-serif;
  --big-font: "MontBlack", sans-serif;
  --mono-font: "Maison-mono", monospace;

  --text-large: 48px;
  --text-medium: 30px;
  --text-regular: 24px;
  --text-base: 20px;
  --text-small: 16px;
  --text-xsmall: 14px;
  --text-xxsmall: 12px;

  /* Spacing */
  --spacing-base: 4px;
  --spacing-small: 8px;
  --spacing-regular: 16px;
  --spacing-medium: 24px;
  --spacing-large: 36px;
  --spacing-xlarge: 48px;
  --spacing-2xlarge: 72px;
  --spacing-3xlarge: 96px;
  --spacing-4xlarge: 144px;
}
