.toggle {
  display: flex;
  margin-bottom: var(--spacing-medium);
}

.toggle button {
  width: var(--spacing-4xlarge);
  font-size: var(--text-small);
  padding: var(--spacing-small);
  border: 0;
  outline: none;
  background-color: var(--paleG);

  transition: background-color 500ms;
}

.toggle .selected {
  background-color: var(--brandG);
}

.fixture-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixture-options select {
  background: none;
  border: none;
  outline: none;

  color: var(--wht);
  font-size: var(--text-regular);
}

.fixture-options option {
  color: var(--blk);
}

.fixture-options svg {
  width: 25px;
  height: 25px;
}

h3,
h4 {
  font-weight: lighter;
  font-family: var(--main-font);
  color: var(--wht);

  margin: var(--spacing-medium) 0 var(--spacing-small);
}

h3 {
  font-size: var(--text-base);
}

h4 {
  font-size: var(--text-small);
}

h4:first-child {
  margin-top: var(--spacing-medium);
}

.fixture,
.scoreline {
  display: flex;
}

.fixture {
  background: var(--wht);
}

summary {
  display: block;
  list-style: none;
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

details {
  margin-bottom: var(--spacing-small);
  cursor: pointer;
  font-family: var(--main-font);
}

details[open] .fixture-info {
  margin-bottom: var(--spacing-medium);
  border-bottom: 2px solid var(--wht);
  -webkit-animation: sweep 200ms ease-in-out;
  animation: sweep 200ms ease-in-out;
}

@-webkit-keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.scoreline {
  padding: var(--spacing-regular) var(--spacing-small);

  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}

.decoration {
  width: var(--spacing-medium);
  background: var(--accentR);
}

strong {
  font-size: var(--text-regular);
}

ul {
  list-style: none;
  padding: 0;
}

.fixture-info {
  display: flex;
  color: var(--wht);
}

.fixture-info div:first-child,
.fixture-info div:last-child {
  padding: var(--spacing-regular) var(--spacing-small);
  flex-grow: 1;
  flex-basis: 0;
}

.fixture-info .decoration {
  background: none;
}

.left {
  text-align: right;
}

.error-msg img {
  display: block;
  max-width: 100%;
  margin-bottom: var(--spacing-medium);
  margin-top: var(--spacing-large);
}

.error-msg p {
  color: var(--wht);
  text-align: center;
  margin: 0 auto;
  max-width: 25ch;

  color: var(--wht);
}

/* Mobile team */

.team-switch {
  width: 100%;
  outline: none;
  padding: var(--spacing-small);
  font-size: var(--text-regular);

  border: 1px solid var(--brightV);
  background: none;
  color: var(--wht);
}

.remaining-fixtures h3 {
  margin-bottom: var(--spacing-base);
}

.remaining-fixtures.standings span:last-child {
  margin-left: auto;
}

.select-team {
  position: relative;
}

.select-team select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;
}

.select-team option {
  background: var(--wht);
  color: var(--blk);
}

.select-decoration {
  top: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 15%;

  background: var(--brightV);
  border: 1px solid var(--brightV);

  color: var(--darkV);
  font-size: var(--text-regular);

  pointer-events: none;
}

.select-decoration span:last-child {
  margin-top: calc(var(--spacing-regular) * -1);
}

.standings p {
  color: var(--brandG);
  margin-bottom: var(--spacing-regular);
  font-size: var(--text-small);
}

.fixture-summary {
  background: var(--wht);
  margin-bottom: var(--spacing-base);

  display: flex;
  align-items: center;
}

.fixture-summary span:nth-child(2) {
  text-align: center;
  padding: var(--spacing-small);
  width: var(--spacing-2xlarge);
  font-size: var(--text-base);
  margin-left: var(--spacing-medium);
}

.fixture-summary span:last-child {
  padding: var(--spacing-small);
  margin-left: var(--spacing-regular);
}

.result-decoration {
  width: var(--spacing-regular);
  align-self: stretch;
}

.result-decoration.W {
  background: var(--brandG);
}

.result-decoration.L {
  background: var(--accentR);
}

.result-decoration.D {
  background: #bfbfbf;
}
