.fixture-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: var(--spacing-regular);
}

.fixture-options select {
  background: none;
  border: none;
  outline: none;

  color: var(--wht);
  font-size: var(--text-regular);
}

.fixture-options option {
  color: var(--blk);
}

.fixture-options svg {
  width: 25px;
  height: 25px;
}

h3 {
  font-weight: lighter;
  font-size: var(--text-small);
  font-family: var(--main-font);
  color: var(--wht);

  margin: var(--spacing-large) 0 var(--spacing-regular);
}

.fixture,
.scoreline {
  display: flex;
}

.fixture {
  background: var(--wht);
}

summary {
  display: block;
  list-style: none;
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

details {
  margin-bottom: var(--spacing-small);
  cursor: pointer;
  font-family: var(--main-font);
}

details[open] .fixture-info {
  margin-bottom: var(--spacing-medium);
  border-bottom: 2px solid var(--wht);
  -webkit-animation: sweep 200ms ease-in-out;
  animation: sweep 200ms ease-in-out;
}

@-webkit-keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.scoreline {
  padding: var(--spacing-regular) var(--spacing-small);

  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}

.decoration {
  width: var(--spacing-medium);
  background: var(--accentR);
}

strong {
  font-size: var(--text-regular);
}

ul {
  list-style: none;
  padding: 0;
}

.fixture-info {
  display: flex;
  color: var(--wht);
}

.fixture-info div:first-child,
.fixture-info div:last-child {
  padding: var(--spacing-regular) var(--spacing-small);
  flex-grow: 1;
  flex-basis: 0;
}

.fixture-info .decoration {
  background: none;
}

.left {
  text-align: right;
}

.error-msg img {
  display: block;
  max-width: 100%;
  margin-bottom: var(--spacing-medium);
  margin-top: var(--spacing-2xlarge);
}

.error-msg p {
  color: var(--wht);
  text-align: center;
  margin: 0 auto;
  max-width: 25ch;

  color: var(--wht);
}
