nav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  user-select: none;

  color: inherit;
}

nav div:not(.selected) {
  transform: rotate(180deg);
  display: flex;
}

nav div:not(.selected) a {
  padding: 2rem 1rem;
  writing-mode: vertical-lr;
}

nav div {
  cursor: pointer;
  order: 1;

  font-size: 1.5rem;
  transition: flex-grow 300ms, background 1s;
  color: #f3f2e7;
}

nav div:first-child {
  background: #160033;
}
nav div:nth-child(2) {
  background: #2d1b50;
}
nav div:nth-child(3) {
  background: #8b77ac;
}
nav div:last-child {
  background: #c5bfdf;
  color: #1b162d;
}

nav .selected {
  position: relative;

  flex-grow: 1;
  order: 0;

  font-size: 4rem;
  font-weight: bold;
  cursor: default;

  padding: 1rem 0 0 2rem;
}
