/* .table-container {
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table-container tbody {
  background: white;
}

.table-container .outline {
  outline: 2px solid #160033;
  outline-offset: -5px;
  background-position-x: 50%;
  background-size: 99% calc(100% - 10px);
}

.outline td:nth-child(2) {
  font-weight: bold;
} */

/* .table-container tbody tr { */
/* Edit this */
/* transition: outline, outline-offset, 100ms, background-position-x, */
/* 300ms ease-in, font-weight 600ms ease-in; */
/* Transition */

/* background: linear-gradient(90deg, #c5bfdf, #c5bfdf);
  background-size: 200%;
  background-position: -99.5% 6px;
  background-repeat: no-repeat;
  cursor: pointer;
} */

/* .table-container thead { 
  color: #eae7f3;
}

.table-container th {
  font-weight: normal;
}

.table-container th:nth-child(2),
.table-container td:nth-child(2) {
  text-align: left;
  white-space: nowrap;
}

.table-container td:nth-child(2) {
  font-size: 2rem;
  width: 250px;
}

.table-container tr:nth-child(n + 1):nth-child(-n + 5) td:first-child {
  padding: 1.2rem;
  background: #160033;
  color: #eae7f3;
}

.table-container td {
  font-size: 1.2rem;
}

.table-container td,
.table-container th {
  text-align: right;
  padding: 10px;
}

.table-container th:nth-child(8),
.table-container th:last-child,
.table-container td:nth-child(8),
.table-container td:last-child,
.table-container th:first-child,
.table-container td:first-child {
  text-align: center;
  white-space: nowrap;
} */

.span-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 3px;  Unsupported */
}
.span-flex span {
  width: var(--spacing-regular);
  height: var(--spacing-regular);
  box-shadow: 1px 1px #8b77ac;
  margin-right: var(--spacing-base);
}

.span-flex span:last-child {
  margin-right: 0;
}

.W {
  background: #38e038;
}

.L {
  background: #ff506a;
}

.D {
  background: darkgray;
}

@media screen and (max-width: 500px), (max-height: 500px) {
  .table-container {
    max-width: 100%;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    font-family: var(--main-font);
  }

  th {
    color: var(--wht);
    font-weight: normal;
    font-size: var(--text-xxsmall);
    text-align: center;
  }

  th:nth-child(8) {
    text-align: right;
  }

  tbody tr {
    background: var(--wht);
    border-bottom: 2px dashed transparent;
  }

  tbody tr:first-child {
    background: var(--brandG);
  }

  tbody tr:nth-child(n + 2):nth-child(-n + 5) {
    background: var(--blk);
    color: var(--brandG);
  }

  td {
    font-size: var(--text-base);
    text-align: right;
  }

  td:nth-child(n + 4):nth-child(-n + 7),
  td:last-child {
    text-align: center;
  }

  th:nth-child(2) {
    padding-left: var(--spacing-small);
  }

  td,
  th {
    white-space: nowrap;
    padding: var(--spacing-regular);
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-medium);
  }

  td:last-child {
    width: 140px;
    display: inline-block;
  }

  th:first-child,
  td:first-child {
    position: sticky;
    left: 0;
  }

  th:first-child {
    background: var(--blk);
    color: var(--wht);
  }

  tr:nth-child(n + 6) td:first-child {
    background: var(--wht);
  }

  .team__info,
  .team__info {
    display: flex;
    /* gap: var(--spacing-regular); Unsupported */
  }

  .team__info span:first-child,
  .team__info span:first-child {
    margin-right: var(--spacing-regular);
  }

  th:first-child {
    padding: 0 var(--spacing-small);
  }

  th:first-child span:first-child,
  td:first-child span:first-child {
    width: 20px;
  }

  tr:nth-child(1) td:first-child {
    background: var(--brandG);
  }

  tr:nth-child(n + 2):nth-child(-n + 5) td:first-child {
    background: var(--blk);
    color: var(--brandG);
  }
}
