.table-container {
  overflow-x: auto;
  position: relative;
}

table {
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
  width: 80%;

  background: white;
}

abbr {
  cursor: default;
}

thead {
  text-align: center;
}

thead th:nth-child(1),
tbody td:nth-child(1) {
  padding-left: 4rem;
  text-align: left;
  min-width: 225px;
  position: sticky;
  left: 0;
}

thead th:nth-child(2),
tbody td:nth-child(2) {
  white-space: nowrap;
}

/* Not supported on some browsers */
/* :is(thead th, tbody td):nth-child(1) {
padding-left: 5rem;
text-align: left;
min-width: 225px;
}

:is(thead th, tbody td):nth-child(2) {
white-space: nowrap;
} */

th,
td {
  padding: 14px 1vw;
}

tbody {
  color: var(--primary-color);
  text-align: center;
}

/* Rankings */

td:before {
  position: absolute;
  left: 2rem;
}

tbody tr {
  margin-top: 1rem;
  border-bottom: solid thin white;
}

td:nth-child(1) {
  position: relative;
}

td:after {
  content: "";
  width: 2%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

tr:nth-child(1) td:nth-child(1):after {
  background-color: #ffdf01;
}

tr:nth-child(2) td:nth-child(1):after,
tr:nth-child(3) td:nth-child(1):after,
tr:nth-child(4) td:nth-child(1):after,
tr:nth-child(5) td:nth-child(1):after {
  background-color: #c0c0c0;
}

/* :is(tr:nth-child(2),
tr:nth-child(3),
tr:nth-child(4),
tr:nth-child(5)) td:nth-child(1):after {
background-color: silver;
} */

tr:nth-child(1) td:nth-child(1):before {
  content: "1";
}

tr:nth-child(2) td:nth-child(1):before {
  content: "2";
}

tr:nth-child(3) td:nth-child(1):before {
  content: "3";
}

tr:nth-child(4) td:nth-child(1):before {
  content: "4";
}

tr:nth-child(5) td:nth-child(1):before {
  content: "5";
}

tr:nth-child(6) td:nth-child(1):before {
  content: "6";
}

tr:nth-child(7) td:nth-child(1):before {
  content: "7";
}

tr:nth-child(8) td:nth-child(1):before {
  content: "8";
}

tr:nth-child(9) td:nth-child(1):before {
  content: "9";
}

tr:nth-child(10) td:nth-child(1):before {
  content: "10";
}
